@import "../../styles/colors";

$bg-color: transparentize($color-secondary, 0.3);

.beerItem {
  align-items: center;
  background-color: $bg-color;
  border-radius: 5px;
  color: $color-primary;
  display: flex;
  height: 100%;
  margin: auto;
  max-height: 10rem;
  max-width: 50rem;
  min-height: 4rem;
  padding: 0.8rem;
}

.name {
  font-size: 1.2rem;
  display: flex;
  flex: 1;
  flex-basis: 40%;

  color: $color-primary;

  // Reseting input text style
  border:none;
  background-image:none;
  background-color:transparent;
  box-shadow: none;

  &:focus {
    background-color: lighten($bg-color, 25);
  }
}

.loading {
  font-size: 1rem;
  color: $color-primary;
}

.label {
  font-size: 1rem;
  display: flex;
  flex: 1;
  flex-basis: 5%;
  color: $color-primary;
}

.ibu {
  font-size: 1rem;
  display: flex;
  flex: 1;
  flex-basis: 15%;

  color: $color-primary;

  // Reseting input text style
  border:none;
  background-image:none;
  background-color:transparent;
  box-shadow: none;

  &:focus {
    background-color: lighten($bg-color, 25);
  }
}

.score {
  font-size: 1rem;
  display: flex;
  flex: 1;
  flex-basis: 15%;
}
.rate {
  display: flex;
  flex: 1;
  flex-basis: 30%;
}
